body{
    background-color: dodgerblue;
    color: cornsilk;
    background-image: url("/css/img/fondo.png");
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;

}
h1{
    text-align: center;
    
}